export MB_JETTY_HOST="0.0.0.0"
export MB_DB_TYPE="mysql"
export MB_DB_HOST="mysql.ocf.berkeley.edu"
export MB_DB_PORT="3306"
export MB_DB_USER=""
export MB_DB_PASS=""
export MB_DB_DBNAME=""
export MB_ENCRYPTION_SECRET_KEY=""
